@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/index")
    @Scripts.Render("~/js/index")
</head>
<body class="hold-transition skin-blue sidebar-mini" style="margin: 0px; padding: 0px; height: 100%;">
    <header class="main-header" id="_layout_header">
        <a class="logo" href="#">
            <span class="logo-mini">
                <b>XMS</b>
            </span>
            <span class="logo-lg">
                <b>XMS</b>
            </span>
        </a>
        <nav class="navbar">
            <!--data-toggle="offcanvas"添加到下面的a标签可以实现左边栏的动态效果-->
            <a class="sidebar-toggle" href="#" data-toggle="offcanvas">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="collapse navbar-collapse pull-left" id="gongneng">
                <ul class="nav navbar-nav topmenu">
                    <li>
                        <a class="animated" onmouseout="normal(this)" onmousemove="big(this)" href="/">首页1</a>
                    </li>
                    <li>
                        <a class="animated" onmouseout="normal(this)" onmousemove="big(this)" href="/Index2/Index">首页2</a>
                    </li>
                    <li>
                        <a class="animated" onmouseout="normal(this)" onmousemove="big(this)" href="/">供电</a>
                    </li>
                    <li>
                        <a class="animated" onmouseout="normal(this)" onmousemove="big(this)" href="/">机电</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <A class="dropdown-toggle animated" id="link_operationCenter" href="#" data-toggle="dropdown"></A>
                    </li>
                    <li>
                        <a title="综合监控数据管理系统" id="link_project">综合监控数据管理系统</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar" id="scro" style="width: auto; height: 849px; -ms-overflow-x: hidden; -ms-overflow-y: auto;">
            <ul class="sidebar-menu" id="_frame_left_menu">
                <li class="header" style="text-align: center; color: rgb(238, 238, 238); font-size: 16px;">运维总览</li>
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="系统信息">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-bar-chart-o"></i>
                        <span>系统信息</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/project/" target="center_main" pagetitle="项目版本">
                                <i class="fa fa-arrow-right"></i>
                                发布版本
                            </a>
                        </li>

                        <li>
                            <a href="ProductSku/" target="center_main" pagetitle="产品SKU">
                                <i class="fa fa-arrow-right"></i>
                                产品SKU
                            </a>
                        </li>
                        <li>
                            <a href="/navimenu/" target="center_main" pagetitle="导航管理">
                                <i class="fa fa-arrow-right"></i>
                                导航管理
                            </a>
                        </li>
                        <li>
                            <a href="/device/" target="center_main" pagetitle="全部设备">
                                <i class="fa fa-arrow-right"></i>
                                全部设备
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="订单管理">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-flash"></i>
                        <span>订单管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("List", "Order", new { }, null)" target="center_main" pagetitle="订单列表">
                                <i class="fa fa-arrow-right"></i>
                                订单列表
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Customer", new { }, null)" target="center_main" pagetitle="客户列表">
                                <i class="fa fa-arrow-right"></i>
                                客户列表
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Order", "Order", new { }, null)" target="center_main" pagetitle="代客下单">
                                <i class="fa fa-arrow-right"></i>
                                代客下单
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="系统信息">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-bar-chart-o"></i>
                        <span>财务管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/CurrencyRate/" target="center_main" pagetitle="汇率设置">
                                <i class="fa fa-arrow-right"></i>
                                汇率设置
                            </a>
                        </li>

                        <li>
                            <a href="/IncidentalPrice/" target="center_main" pagetitle="杂费设置">
                                <i class="fa fa-arrow-right"></i>
                                杂费设置
                            </a>
                        </li>
                        <li>
                            <a href="/Channel/" target="center_main" pagetitle="渠道设置">
                                <i class="fa fa-arrow-right"></i>
                                渠道设置
                            </a>
                        </li>
                        <li>
                            <a href="/Order/Adjust" target="center_main" pagetitle="单票费用调整">
                                <i class="fa fa-arrow-right"></i>
                                单票费用
                            </a>
                        </li>
                        <li>
                            <a href="/Department/Credit" target="center_main" pagetitle="信用额度设置">
                                <i class="fa fa-arrow-right"></i>
                                门店信用额度
                            </a>
                        </li>
                        <li>
                            <a href="/Customer/Credit" target="center_main" pagetitle="信用额度设置">
                                <i class="fa fa-arrow-right"></i>
                                客户信用额度
                            </a>
                        </li>
                        <li>
                            <a href="/Customer/Bill" target="center_main" pagetitle="客户账单">
                                <i class="fa fa-arrow-right"></i>
                                客户账单
                            </a>
                        </li>
                        <li>
                            <a href="/Store/Financial" target="center_main" pagetitle="财务流水">
                                <i class="fa fa-arrow-right"></i>
                                财务流水
                            </a>
                        </li>
                        <li>
                            <a href="/Store/Performance" target="center_main" pagetitle="销售员业绩">
                                <i class="fa fa-arrow-right"></i>
                                销售员业绩
                            </a>
                        </li>
                        <li>
                            <a href="/Materiel/Auth" target="center_main" pagetitle="物料管理">
                                <i class="fa fa-arrow-right"></i>
                                物料管理
                            </a>
                        </li>
                        <li>
                            <a href="/PayManagent/" target="center_main" pagetitle="支付管理">
                                <i class="fa fa-arrow-right"></i>
                                支付管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="供电">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-flash"></i>
                        <span>国内客服</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/Bill" target="center_main" pagetitle="门店运单">
                                <i class="fa fa-arrow-right"></i>
                                门店运单
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/History" target="center_main" pagetitle="门店运单">
                                <i class="fa fa-arrow-right"></i>
                                历史运单
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/ApplicationMaterials" target="center_main" pagetitle="申报材料">
                                <i class="fa fa-arrow-right"></i>
                                上传申报材料
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/Problem" target="center_main" pagetitle="问题件">
                                <i class="fa fa-arrow-right"></i>
                                问题件
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/CreateSurface/" target="center_main" pagetitle="定制面单">
                                <i class="fa fa-arrow-right"></i>
                                定制面单
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/CreateOrderId/" target="center_main" pagetitle="定制单号">
                                <i class="fa fa-arrow-right"></i>
                                定制单号
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/ChangeRecord" target="center_main" pagetitle="修改记录">
                                <i class="fa fa-arrow-right"></i>
                                修改记录
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/DistributionCenter/BagState" target="center_main" pagetitle="物流状态">
                                <i class="fa fa-arrow-right"></i>
                                物流状态
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Store/IdCard" target="center_main" pagetitle="下载证件">
                                <i class="fa fa-arrow-right"></i>
                                下载证件
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Article/" target="center_main" pagetitle="新闻公告">
                                <i class="fa fa-arrow-right"></i>
                                新闻公告
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="机电">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-building"></i>
                        <span>后台管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/Channel/" target="center_main" pagetitle="发货渠道">
                                <i class="fa fa-arrow-right"></i>
                                发货渠道
                            </a>
                        </li>
                        <li>
                            <a href="/Department/" target="center_main" pagetitle="门店管理">
                                <i class="fa fa-arrow-right"></i>
                                部门管理
                            </a>
                        </li>
                        <li>
                            <a href="/User/" target="center_main" pagetitle="人员管理">
                                <i class="fa fa-arrow-right"></i>
                                人员管理
                            </a>
                        </li>
                        <li>
                            <a href="/User/Role" target="center_main" pagetitle="角色权限">
                                <i class="fa fa-arrow-right"></i>
                                角色权限
                            </a>
                        </li>
                        <li>
                            <a href="/Customer/" target="center_main" pagetitle="客户信息">
                                <i class="fa fa-arrow-right"></i>
                                客户信息
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="广播">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-bullhorn"></i>
                        <span>广播</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/pa/areatype/" target="center_main" pagetitle="分区类型">
                                <i class="fa fa-arrow-right"></i>
                                分区类型
                            </a>
                        </li>
                        <li>
                            <a href="/pa/area/" target="center_main" pagetitle="广播区域">
                                <i class="fa fa-arrow-right"></i>
                                广播区域
                            </a>
                        </li>
                        <li>
                            <a href="/ProductSku/" target="center_main" pagetitle="预录信息">
                                <i class="fa fa-arrow-right"></i>
                                预录信息
                            </a>
                        </li>
                    </ul>
                </li>               
                <li class="treeview" onmouseout="normal(this)" onmousemove="big(this)">
                    <a class="animated" href="#" pagetitle="基础数据">
                        <span class="pull-right-container"></span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <i class="fa fa-bar-chart-o"></i>
                        <span>基础数据</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/url/" target="center_main" pagetitle="外部接口">
                                <i class="fa fa-arrow-right"></i>
                                外部接口
                            </a>
                        </li>
                        <li>
                            <a href="/clstype/" target="center_main" pagetitle="设备类型">
                                <i class="fa fa-arrow-right"></i>
                                设备类型
                            </a>
                        </li>
                        <li>
                            <a href="/categorytemplate/" target="center_main" pagetitle="分类模板">
                                <i class="fa fa-arrow-right"></i>
                                分类模板
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <iframe name="center_main" height="100%" class="content-wrapper" id="center" src="/project/" frameborder="0" marginwidth="100" marginheight="100" scrolling="no" style="display: block;" onload="changeFrameWidth()"></iframe>
</body>
</html>